# General
*.log*
.DS_Store

# Environment files
.env

# Python
**/__pycache__/
/venv/

# Django
/backend/db.sqlite3

# JavaScript/Node.js
**/node_modules

# Build artifacts
frontend/build

# Testing artifacts
frontend/coverage

*storybook.log